doctype html
html(lang="en")
	head
		title To Do List
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, user-scalable=no")
	body
		.wrapper
			.tooltip-block
				.tooltip
					.tooltip__main
						.tooltip__img
						.tooltip__info
							.tooltip__name
								p Username
							.tooltip__age
								p 25 years
							.tooltip__location
								p London, UK
					.tooltip__bottom
						a(href="#").tooltip__btn.tooltip__btn--msg Message
						a(href="#").tooltip__btn.tooltip__btn--like Like photo
				.tooltip.tooltip--inverse.tooltip--right
					.tooltip__main
						.tooltip__img
						.tooltip__info
							.tooltip__name
								p Username
							.tooltip__age
								p 25 years
							.tooltip__location
								p London, UK
					.tooltip__bottom
						a(href="#").tooltip__btn.tooltip__btn--msg Message
						a(href="#").tooltip__btn.tooltip__btn--like Like photo