doctype html
html(lang="en")
	head
		title To Do List
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, user-scalable=no")
	body
		.tooltips-block
			.tooltip
				.tooltip__main
					.tooltip__img
					.tooltip__info
						h3.tooltip__name Username
						span.tooltip__age 25 years
						span.tooltip__location London, UK
				.tooltip__bottom
					button.tooltip__btn.tooltip__btn--msg Message
					button.tooltip__btn.tooltip__btn--like Like photo
			.tooltip.tooltip--inverse.tooltip--right
				.tooltip__main
					.tooltip__img
					.tooltip__info
						h3.tooltip__name Username
						span.tooltip__age 25 years
						span.tooltip__location London, UK
				.tooltip__bottom
					button.tooltip__btn.tooltip__btn--msg Message
					button.tooltip__btn.tooltip__btn--like Like photo