// VARIABLES
//fonts
$font: Roboto, Arial, sans-serif;
//other
$desctop: "screen and (max-width: 1199px)";
$tablet: "screen and (max-width: 991px)";
$mobile: "screen and (max-width: 767px)";

//MIXINS

$prefixes: "-webkit-", "-o-", "-moz-", "-ms-";

@mixin addPrefix($item, $val) {
	@each $tmp in $prefixes {
		#{$tmp}#{$item}:#{$val};
	}
	#{$item}: $val;
}

$prefixes-placeholder: "&::-webkit-input-", "&::-moz-", "&:-moz-", "&:-ms-";

@mixin addPrefixPlaceholder($placeholder, $item, $val) {
	@each $tmp in $prefixes-placeholder {
		#{$tmp}#{$placeholder}{#{$item}:#{$val}};
	}
	#{$placeholder}{#{$item}: $val};
}